<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
    <style>
        .timo-compile {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            padding-bottom: 14px;
            margin-bottom: 0;
            background-color: #ffffff;
        }
        .timo-finally {
            position: fixed;
            bottom: 0;
            left: 30px;
            right: 0;
            padding-bottom: 14px;
            margin-bottom: 0;
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form timo-compile">
    <form th:action="@{/calledallot/calledAllot/allot}">
        <input th:each="id:${ids}" type="hidden" name="ids" th:value="${id}"/>
        <div class="layui-form-item">
            <label class="layui-form-label">业务员</label>
            <div class="layui-input-inline">
                <select name="username" lay-search="" class="form-control input1">
                    <option value="">请输入业务员</option>
                    <option th:each="user : ${allEmplooyee}"
                    th:value="${user.username}" th:text="${user.nickname}">
                    </option>
                </select>
            </div>
        </div>

        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit close-popup" ><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>

</body>
</html>