<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="layui-form timo-compile">
    <form th:action="@{/record/add}">
        <input type="hidden" name="id" th:if="${calledAllot}" th:value="${calledAllot.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">客户名称</label>
            <div class="layui-input-inline">
                <input class="layui-input"  readonly="readonly" type="text" name="customerName" placeholder="请输入客户名称" th:value="${calledAllot?.customerName}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">手机号</label>
            <div class="layui-input-inline">
                <input class="layui-input" readonly="readonly" type="text" name="celledNum" placeholder="请输入手机号" th:value="${calledAllot?.calledNum}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">标签</label>
            <div class="layui-input-inline">
<!--                <input class="layui-input" type="text" name="lab" placeholder="请输入标签" th:value="${accessRecord?.lab}">-->
                <select class="timo-search-select" style="width: 100px" name="lab">
                    <option value="" >请选择</option>
                    <option th:each="enmu:${T(com.crm.common.enums.Laber).values()}"
                            th:value="${enmu.code}"
                            th:text="${enmu.lab}">
                    </option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">类型</label>
            <div class="layui-input-inline">
                <select class="timo-search-select" style="width: 100px" name="type">
                    <option th:each="enmu:${T(com.crm.common.enums.VisitType).values()}"
                            th:value="${enmu.code}"
                            th:text="${enmu.lab}">
                    </option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">回访结果</label>
            <div class="layui-input-inline">
                <select class="timo-search-select" style="width: 100px" name="result">
                    <option value="" >请选择</option>
                    <option th:each="enmu:${T(com.crm.common.enums.VisitResult).values()}"
                            th:value="${enmu.code}"
                            th:text="${enmu.lab}">
                    </option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">回访记录</label>
            <div class="layui-input-inline">
                <textarea placeholder="请输入内容" class="layui-textarea" name="record">[[${accessRecord?.record}]]</textarea>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" class="layui-textarea" name="remark">[[${accessRecord?.remark}]]</textarea>
            </div>
        </div>
        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
</body>
</html>