<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="timo-detail-page">
        <div class="timo-detail-title">基本信息</div>
        <table class="layui-table timo-detail-table">
            <colgroup>
                <col width="100px"><col>
                <col width="100px"><col>
            </colgroup>
            <tbody>
                <tr>
                    <th>主键ID</th>
                    <td th:text="${accessRecord.id}"></td>
                    <th>客户名称</th>
                    <td th:text="${accessRecord.customerName}"></td>
                </tr>
                <tr>
                    <th>手机号</th>
                    <td th:text="${accessRecord.celledNum}"></td>
                    <th>标签</th>
                    <td th:text="${accessRecord.lab}"></td>
                </tr>
                <tr>
                    <th>类型</th>
                    <td th:text="${accessRecord.type}"></td>
                    <th>回访记录</th>
                    <td th:text="${accessRecord.recorf}"></td>
                </tr>
                <tr>
                    <th>业务员</th>
                    <td th:text="${accessRecord.username}"></td>
                    <th>创建时间</th>
                    <td th:text="${#dates.format(accessRecord.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                </tr>
                <tr>
                    <th>备注</th>
                    <td th:text="${accessRecord.remark}" colspan="3"></td>
                </tr>
            </tbody>
        </table>
    </div>
<script th:replace="/common/template :: script"></script>
</body>
</html>